
.btn{
     width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 20px;
}
 

    

    .add{
        height: 35px;
        width: 110px;
         background-color: white;
            border: 1px solid #949393;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer; 
    }
    .add:hover{
        background-color:#bababa;
        border: none;
        color: #323131; 
    }
     .bck{
        height: 35px;
        width: 35px;
        background-color:  #323131;
            border: 1px solid #949393;
            border-radius: 5px; 
            cursor: pointer; 
     }
.bck:hover{
        background: color #57575771;;
        border: none;
        color: #323131; 
    }
 
    @media  (max-width: 768px) {
    
        .btn{
            width: 120px;
            height: 40px;
            font-size: 16px;
        }
        .add{
            height: 30px;
            width: 90px;
             font-size: 14px;
        }
         .bck{
            height: 30px;
            width: 30px; 
         }
        
.hero{
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .hero-left, .hero-right {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
  }
}
    

.orb-container {
    background-color: black;
  position: fixed;        /* 👈 full screen fixed background */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;             /* 👈 sabse neeche layer */
  pointer-events: none;   /* 👈 mouse click upar walay components par jaaye */
}


    